{% extends 'base.html' %}

{% block content %}

<ul>
  {% if baterias %}
    {% for bateria in baterias %}
      <div class="post">
          <div class="date">
            {{ bateria.published_date }}
          </div>
          <h2><a href="{% url 'app.views.bateria_detail' pk=bateria.pk %}">Bateria numero: {{ bateria.numero }}</h2>
          <h3>Temperatura: {{ bateria.temperatura }}</h3>
          <h3>Energia: {{ bateria.energia }}</h3>
          <h3>Centro: {{ bateria.centro }}</h3>
      </div>
    {% endfor %}
  {% else %}
    <li>No hay baterias cargadas en la BD</li>
  {% endif %}
</ul>
{% endblock content %}
