{% extends 'backend.html.twig' %}

{% block body %}
	<div class="jumbotron">
		<h1>Bienvenido</h1>
		<legend>Estadísticas disponibles:</legend>
		<p>
			<a class="btn btn-primary btn-lg" href="/admin/autoshora" role="button">Autos por Hora</a>
			<a class="btn btn-primary btn-lg" href="#" role="button">Autos por Terminales</a>
			<a class="btn btn-primary btn-lg" href="#" role="button">Energia total Acumulada</a>
		</p>
	</div>
{% endblock %}