{% extends 'base.html' %}

{% block content %}

<ul>
  {% if centros %}
    {% for centro in centros %}
      <div class="post">
        <div class="date">
          {{ centro.published_date }}
        </div>
        <h2><a href="{% url 'app.views.centro_detail' pk=centro.pk %}">Centro numero: {{ centro.numero }}</h2>
        <h3>Codigo: {{ centro.codigo }}</h3>
        <h3>Energia: {{ centro.energia }}</h3>
      </div>
    {% endfor %}
  {% else %}
    <li>No hay centros de almacenamientos cargados en la BD</li>
  {% endif %}
</ul>
{% endblock content %}
