{% extends 'base.html' %}

{% block content %}
    <div class="post">
        {% if centro.published_date %}
            <div class="date">
                {{ centro.published_date }}
            </div>
        {% endif %}
        <a href="{% url 'app.views.centro_edit' pk=centro.pk %}">Editar Centro</a>
        <a href="{% url 'app.views.centro_borrar' pk=centro.pk %}">Borrar Centro</a>
        <h1>Numero: {{ centro.numero }}</h1>
        <p>Energia: {{ centro.energia }}</p>
        <p>Codigo: {{ centro.codigo }}</p>
    </div>
{% endblock %}
