{% extends 'base.html.twig' %}

{% block navbar %}
<div>
	<nav class="navbar navbar-default" role="navigation">
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse"
		            data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Desplegar navegaci칩n</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="/admin">Administraci칩n</a>
		  </div>
		  <div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
		      <li class="dropdown">
		        <a href="" class="dropdown-toggle" data-toggle="dropdown">
		          Usuarios<b class="caret"></b>
		        </a>
		        <ul class="dropdown-menu">
		          <li><a href="/admin/usuario/new">Alta</a></li>
		          <li class="divider"></li>
		          <li><a href="/admin/usuario">Listar</a></li>
		        </ul>
		      </li>
		    </ul>
		    <ul class="nav navbar-nav">
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		          Terminales<b class="caret"></b>
		        </a>
		        <ul class="dropdown-menu">
		          <li><a href="/admin/terminal/new">Alta</a></li>
		          <li class="divider"></li>
		          <li><a href="/admin/terminal">Listar</a></li>
		        </ul>
		      </li>
		    </ul>
		    <ul class="nav navbar-nav">
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		          Baterias<b class="caret"></b>
		        </a>
		        <ul class="dropdown-menu">
		          <li><a href="/admin/bateria/new">Alta</a></li>
		          <li class="divider"></li>
		          <li><a href="/admin/bateria">Listar</a></li>
		        </ul>
		      </li>
		    </ul>
		    <ul class="nav navbar-nav">
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		          Centros de Alm.<b class="caret"></b>
		        </a>
		        <ul class="dropdown-menu">
		          <li><a href="/admin/centroalmacenamiento/new">Alta</a></li>
		          <li class="divider"></li>
		          <li><a href="/admin/centroalmacenamiento">Listar</a></li>
		        </ul>
		      </li>
		    </ul>        

		   	<ul class="nav navbar-nav navbar-right">
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		         Usuario <b class="caret"></b>
		        </a>
		        <ul class="dropdown-menu">
		        	<li><a href="/">P치gina Principal</a></li>
		        	<li class="divider"></li>
		        	<li><a href="">Cerrar Sesi칩n</a></li>
		        </ul>
		      </li>
		    </ul>
		  </div>
		</nav>
</div>
{% endblock %}
