<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Autocontrol{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
	{% block body %}{% endblock %}
</html>
