{% extends 'default/index_sup.html.twig' %}

{% block body %}
    <legend>Listado de Terminales</legend>
    <button onclick="grafico()">Boton</button>
    {{ include('terminal/grafico_sup.html.twig') }}

    <script type="text/javascript">
        grafico = function () {
            //alert("mexican")
            $.ajax(
            {     url: '/admin/verterminalesajax', 
                  type: 'get',
                  data: null, 
                  dataType: 'html', 
                  success: function(data, textStatus, jqXHR){
                    $("#tabla_sup").html(data); }, 
                  error: function(jqXHR, textStatus, errorThrown){}, 
                  complete: function( jqXHR, textStatus ){} 
            });
        }
        setInterval(function(){
                                grafico();         
                              }, 5000);
</script>
{% endblock %}


